<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alunos</title>
</head>
<body>
    <h1>lista de alunos</h1>
    <h2>aluno 1</h2>
    <p>notas:</p>
    <ul>
        <li>Geografia: 0</li> <a href="">editar</a>
        <li>Historia: 0</li> <a href="">editar</a>
        <p><a href="">clique aqui para adicionar uma nova materia</a></p>

    </ul>
    <p>aluno 2</p>
    <p>notas:</p>
    <ul>
        <li>Geografia: 0</li> <a href="">editar</a>
        <li>Historia: 0</li> <a href="">editar</a>
        <p><a href="">clique aqui para adicionar uma nova materia</a></p>

    </ul>
    
</body>
</html>